.nosifer-regular {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#wrapper {
    margin: auto;
    background-color: black;
    color: white;
}

#nav {

    display: inline;
    text-align: center;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li:hover {
    background-color: #111111;
}

h1 {
    font-family: Nosifer, serif, sans-serif;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    text-align: center;
    border: 15px solid #ea560a;
}
section {
    padding: 20px;
}

p.pumpkins {
    color: yellow;
}
p.bats {
    background-color: red;
    color: yellow;
}